/**
* Theme Variables
*
* Gunakan file ini untuk menambahkan variable scss mu sendiri
* ATAU mengganti variable dari Bootstrap
*
* Untuk mengganti variable dari Bootstrap bisa dilihat contohnya di folder
* node_modules/bootstrap/scss/_variables.scss
* Copy saja variable yang akan dipilih disana dan tempel di file ini
**/


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #fde26c;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Overide Bootstrap Colors
$primary: #529771;
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;

// Bootstrap Colors Map
$theme-colors: ( //
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan //
);

$enable-responsive-font-sizes: true;
$enable-rounded: false;
$enable-shadows: false;
$link-hover-decoration: none;
