/**
* Theme Variables
*
* Gunakan file ini untuk menambahkan variable scss mu sendiri
* ATAU mengganti variable dari Bootstrap
*
* Untuk mengganti variable dari Bootstrap bisa dilihat contohnya di folder
* node_modules/bootstrap/scss/_variables.scss
* Copy saja variable yang akan dipilih disana dan tempel di file ini
**/


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Bootstrap Colors
$primary: $green;

// Menghapus border radius default dari Bootstrap
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Menghapus link decoration bawaan bootstrap
$link-hover-decoration: none;
